body {
  background-color: coral
}

.topHeader {
  text-align: center;
  font-size: x-large;
}

/*animations dont do anything right now, just for practice*/

@keyframes rotateAnim {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotateAnim 2s linear infinite;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px)
  }

  to {
    transform: translateX(0px)
  }
}

.slideInLeft {
  animation: slideInLeft 2s ease-out;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  margin-top: 20px;
}


.flexBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.niceButtons {
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: brown;
  vertical-align: top;
  transition: opacity 0.15s, padding 0.15s, font-size 0.15s;
  font-size: x-large;
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.niceButtons:hover {
  opacity: 0.7;
}

.niceButtons:active {
  opacity: 0.5;
  padding: 15px 35px;
  font-size: 30px;
}

body {
  height: 1000px;
}

.pictureFrame {
  display: flex;
  justify-content: left;
  height: 280px;
  width: 280px;
}

.regHeader {
  font-size: xx-large;
  text-align: center;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}